.hero {
    padding-top: 40px;
    padding-bottom: 50px;

    .xl-block({
        padding-bottom: 40px;
    });

    .lg-block({
        padding-bottom: 30px;
    });

    .md-block({
        padding-bottom: 20px;
    });

    .xs-block({
        padding-top: 10px;
    });

    &-cards .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    &__content {
        .row-flex();
        margin-left: 0;
        margin-right: 0;
    }

    &__text {
        .col();
        .size(6);
        .size-md(12);
    }

    &__pic {
        .col();
        .size(6);
        .size-md(12);
    }

    &__title {
        margin: 0;
        font-size: 60px;
        font-weight: 700;

        .xl(font-size, 56px);
        .lg(font-size, 48px);
        .md(font-size, 40px);
        .xs(font-size, 28px);
    }

    &__subtitle {
        margin-top: 20px;
        font-size: 20px;

        .md-block({
            font-size: 18px;
        });

        .xs-block({
            margin-top: 10px;
            font-size: 16px;
        });

        br {
            .lg(display, none);
        }
    }

    &__subtitle p {
        margin: 0;
    }

    &__subtitle p + p {
        margin-top: 1rem;
    }

    .btns {
        margin-top: 30px;

        .xs-block({
            margin-top: 20px;
        });
    }

}

.home {

    .hero {
        padding-bottom: 46px;

        .xl-block({
            padding-bottom: 66px;
        });

        .md-block({
            text-align: center;
        });

        .xs-block({
            padding: 40px 0;
            padding-top: 10px;
        });
    }

    .hero__text {
        .col();
        .size(7);
        .size-xl(8);
        .size-md(12);
    }

    .hero__pic {
        .col();
        .size(5);
        .size-xl(4);
        .size-md(12);

        overflow: hidden;

        .md-block({
            order: -1;
            // text-align: center;
        });

        img {
            width: 100%;
            height: 100%;
            // height: auto;
            object-fit: cover;
            // object-position: center;
            border-radius: 40px;
            

            .md-block({
                margin-bottom: 26px;
                max-width: 524px;
                height: 380px;
                object-fit: contain;
            });

            .xs-block({
                height: 220px;
            });
        }

    }
}

.page-template-page-template-border .hero {

    .hero__text {
        .col();
        .size(10);
        .size-xl(12);
    }

}

.page-template-page-template-check .hero{
    .hero__content {
        .md-block({
            text-align: center;
        });
    }

    .hero__pic {
        .md-block({
            margin-top: 30px;
        });
    }

    .btns {
        .md-block({
            justify-content: center;
        });
    }
}

.home-hero-cards {
     padding-top: 80px;
    padding-bottom: 50px;

    .xl-block({
        padding: 40px 0;
    });

    .lg-block({
        padding-bottom: 30px;
    });

    .md-block({
        padding-bottom: 20px;
    });

    .xs-block({
        padding-top: 40px;
    });
}