.start {
    padding-top: 50px;
    padding-bottom: 76px;

    .xl-block({
        padding-top: 40px;
        padding-bottom: 127px;
    });

    .lg-block({
        padding-top: 30px;
        padding-bottom: 64px;
    });

    .md-block({
        padding: 20px 0;
    });

    .xs-block({
        padding-top: 20px;
        padding-bottom: 46px;
    });

    &__content {
        padding: 50px 95px 54px;
        text-align: center;
        border-radius: 40px;

        .lg-block({
            padding: 50px 80px 65px;
        });

        .md-block({
            padding: 50px 90px 76px;
        });

        .xs-block({
            padding: 30px 20px 39px;
            border-radius: 30px;
        });
    }

    &__title {
        margin-top: 0;
        margin-bottom: 8px;

        margin-left: auto;
        margin-right: auto;
        max-width: 900px;

        font-size: 50px;
        font-weight: 700;

        .lg(font-size, 40px);
        .md(font-size, 36px);
        .xs(font-size, 24px);
    }

    &__descr {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        max-width: 900px;
        
        font-size: 26px;

        .lg-block({
            margin-bottom: 35px;
            font-size: 24px;
        });

        .md-block({
            margin-bottom: 30px;
        });

        .xs-block({
            margin-bottom: 20px;
            font-size: 18px;
        });

        p {
            margin: 0;
        }

    }
    
}

.start2 {

    .start__title, .start__descr {
        max-width: 100%;

        .xl(text-align, center);
    }


    &__content {
        .row-flex();

        padding: 60px 60px 77px;
        border-radius: 40px;

        .xl-block({
            padding: 50px 95px;
        });

        .lg-block({
            padding: 50px 80px;
        });

        .md-block({
            padding: 50px 90px;
        });

        .xs-block({
            padding: 20px 30px;
            border-radius: 30px;
        });
    }

    &__left {
        .col();
        .size(7);
        .size-xl(12);
    }

    &__right {
        .col();
        .size(5);
        .size-xl(12);
    }

    .wpcf7-form-control-wrap, .form__submit {
        max-width: 100%;

        .xl(max-width, 384px);
    }
}