.form {

    &__input {
        display: block;
        padding: 18px 30px;
        font-size: 20px;
        border-radius: 500px;
        width: 100%;

        outline: none;
        border: 1px solid transparent;
        opacity: 0.6;

        .md-block({
            padding: 15px 30px 17px;
            font-size: 18px;
        });

        .xs-block({
            padding: 18px 20px 17px;
            font-size: 16px;
        });
    }

    &__input:focus {
        opacity: 1;
        border: 1px solid @accent;
    }

    &__submit {
        display: block;
        // padding: 9px 50px;
        width: 100%;
        max-width: 384px;
        // font-size: 13px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        border: none;
        outline: none;
        text-wrap: auto;
        cursor: pointer;
    }

    textarea {
        height: 200px;
        padding: 30px;
        resize: none;
        overflow-y: auto;

        .xs-block({
            padding: 20px;
            height: 160px;
        });
    }

    &__label {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 20px;

        .md-block({
            font-size: 18px;
        });

        .xs-block({
            font-size: 16px;
        });
    }

}

.wpcf7-form {
    br {
        display: none;
    }
}

.wpcf7-form-control-wrap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 384px;

    .xs(margin-bottom, 6px);
}

.wpcf7-not-valid-tip {
    // display: none;
    font-size: 14px
}

.form .wpcf7-response-output {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 14px
}

.wpcf7-spinner {
    display: none;
}

.wpcf7-list-item {
    margin-left: 0;
}

.wpcf7-acceptance {
    font-size: 14px;
    text-align: left;
    // line-height: 1;

    // .xs(font-size, 10px);
}

.form .wpcf7-acceptance label {
    display: flex;
    align-items: flex-start
}

.form .wpcf7-acceptance input[type=checkbox] {
    display: inline-flex;
    appearance: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    flex: 0 0 auto;
    margin-right: 8px;
    border-radius: 50%;
    border: 1px solid #0E80D4;
    position: relative;
}

.form .wpcf7-acceptance input[type=checkbox]:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    background: url(../img/check_small-blue.svg) center/contain no-repeat;
}

.form .wpcf7-acceptance input[type=checkbox]:checked:before {
    opacity: 1;
    visibility: visible
}

#get-chat {
    .wpcf7-form {
        margin-top: -20px;
    }
    .wpcf7-acceptance {
        display: inline-block;
        margin-top: 20px;
    }
}